<div>
    <app-widget-area></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card fxFlex="25">
        <app-widget-card label="users" total="18k" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="users" total="10k" percentage="20"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="users" total="18k" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="users" total="18k" percentage="50"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="60">
        Table
    </div>
    <div fxFlex="40">
        <app-widget-pie></app-widget-pie>
    </div>
</div>